/* Import the fancy cursive font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url('https://i.pinimg.com/736x/69/d5/27/69d527e36a77c893bb55b78eee8b775f.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    z-index: 2;
    color: white;
    text-align: center;
}

.content h1 {
    font-family: 'Great Vibes', cursive; /* Apply the cursive font */
    font-size: 4rem;  /* Increase the font size for better impact */
    letter-spacing: 2px;
}

.button {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 1rem;
    font-family: cursive;
    border-radius: 5px;
    background-color: #ff6347;
    color: #fff;
    border: none;
    cursor: pointer;
}
